input {
    background-color: #1E1E1E;
    width: 80%;
    border: none;
    height: 50px;
    border-radius: 20px;
    text-align: left;
    font-size: 18px;
    padding: 16px;
    height: 30px;
    color: white;
    
    
}

input:focus {
    outline: none;
}


 form {
    padding: 0.5rem;
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

form button {
    background-color: #FF5631;
    text-align: center;
    height: 62px;
    width: 62px;
    border: none;
    border-radius: 50%;
    padding: 16px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease; 


}

form button:hover {
    transform: scale(1.1);
}


button[type="submit"] .fa.fa-plus {
    color: black;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    input {
        width: 70%; 
    }

    form {
        padding: 0rem;
    }
}

@media screen and (max-width: 400px) {
    input {
        width: 66%; 
    }

    
}